#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.header{
  font-size: 18px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 0;
  margin-bottom: 32px;
  border-bottom: 1px solid #ddd;
}
nav li {
  display: inline;
}
nav a {
  text-decoration: none;
  color:black;
  font-weight: 400;
  padding: 12px 0;
  display: inline-block;
}
nav a:hover {
  color: #1e90ff;
}

.Tsutsumeki-create{
  width: 300px;
  height: 240px;
  margin: 5px;
  border:none;
}

.Tsutsumeki-text{
  width: 300px;
  height: 200px;
}

.Tsutsumeki-posted{
  width: 308px;
  border:solid;
  color: #d3d3d3;
  margin: 0 0 -1px;
}

.Tsutsumeki-words{
  color: #000000;
}