body{
  background-color: #F0F2F1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.header{
  font-size: 18px;
  font-family: 'Noto Sans JP', sans-serif;
  color:#40403E;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 0;
  margin-bottom: 32px;
  border-bottom: 1px solid #40403E;
}
nav li {
  display: inline;
}
nav a {
  text-decoration: none;
  color:#40403E;
  font-weight: 400;
  padding: 12px 0;
  font-family: 'Noto Sans JP', sans-serif;
  display: inline-block;
}
nav a:hover {
  color: #659DC0;
}

.text-center{
  font-family: 'Noto Sans JP', sans-serif;
  color:#40403E;
}

p{
  font-family: 'Noto Sans JP', sans-serif;
  color:#40403E;
}

.Tsutsumeki-create{
  width: 100%;
  margin:10px 0;
  border:none;
  display:flex;
  flex-direction: column;
  gap: 10px;
  color: #D0D8DA;
}

.Tsutsumeki-text{
  width:100%;
  height: 200px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #40403E;
  color:#40403E;
  font-family: 'Noto Sans JP', sans-serif;
  resize: none;
  box-sizing: border-box;
  background-color: #D0D8DA;
}

@media (min-width: 600px) {
  .Tsutsumeki-text{
    font-size:1,2rem;
  }
}

.Tsutsumeki-text::placeholder{
  color:#8C8C8A;
}

.Tsutsumeki-posted{
  width:100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #000000;
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
  margin-top: -1px;
  background-color:#D0D8DA;
}

@media (min-width: 600px) {
  .Tsutsumeki-posted{
    font-size:1,2rem;
  }
}

.Tsutsumeki-words{
  margin-bottom: 8px;
  color: #40403E;
  font-family: 'Noto Sans JP', sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.Aratamu-text{
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  border: 1px solid #000000;
  resize: vertical;
  box-sizing: border-box;
}

@media (min-width: 600px){
  .Aratamu-text {
    font-size: 1.2rem;
  }
}

.WaGotcha.active{
  font-weight:bold;
}